<div class="position mt-2">
    <mat-form-field class="example-full-width">
        <mat-label>Filtro</mat-label>
        <input matInput placeholder="Buscar Productos" [(ngModel)]="searchTerm" (input)="filterProducts()" >
    </mat-form-field>
      
    
</div>
    <div class="container" style="font-size: 14px; line-height: 1.4;">
      <h2 style="margin-bottom: 10px;">Lista de Productos</h2>    

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="clave">
          <mat-header-cell *matHeaderCellDef style="flex: 0.5;">Codigo</mat-header-cell>
          <mat-cell *matCellDef="let producto" style="flex: 0.5;">{{ producto.clave }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef style="flex: 4;">Descripcion de Producto</mat-header-cell>
          <mat-cell *matCellDef="let producto" style="flex: 4;">
            <div>
              <span style="font-size: 18px; font-weight: 500;">{{ producto.descripcion }}</span>
              <br>
              <span style="font-weight: 400; white-space: nowrap; font-size: 12px; color: rgb(73, 73, 73);">
                {{ "DEPARTAMENTO: " + producto.departamento + " / " + "CATEGORIA: " + producto.categoria + " / " + "UNIDAD: " + producto.unidad_compra }}
              </span>
              
            </div>
          </mat-cell>
        </ng-container>
      
        
      
        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef style="padding-left: 20px;">Precios</mat-header-cell>
          <mat-cell *matCellDef="let producto">
            
            <ng-container>
      
              <mat-form-field appearance="outline" style="margin-top: 20%;">
                <mat-select [value]="producto.selectPrice" (selectionChange)="actualizarSelectPrice(producto, $event.value)">
                  <mat-option [value]="producto.precio_venta_1">
                    {{producto.precio_venta_1}}
                  </mat-option>
                  <mat-option [value]="producto.precio_venta_2">
                    {{producto.precio_venta_2}}
                  </mat-option>
                  <mat-option [value]="producto.precio_venta_3">
                    {{producto.precio_venta_3}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lote">
          
          <mat-header-cell *matHeaderCellDef style="padding-left: 20px;">Lotes</mat-header-cell>
          <mat-cell *matCellDef="let producto">
            
            <ng-container>
              <mat-form-field appearance="outline" style="margin-top: 20%;">

                <mat-select [value]="producto.selectLote" (selectionChange)="actualizarSelectLote(producto, $event.value)">

                  <mat-option *ngFor="let lote of producto.listaLote" [value]="lote.id">
                    {{ lote.clave }}
                  </mat-option>

                </mat-select>

              </mat-form-field>
            </ng-container>
          </mat-cell>

        </ng-container>
      
       
      
        <ng-container matColumnDef="stock">
          <mat-header-cell *matHeaderCellDef style="flex: 0.5;">Stock</mat-header-cell>
          <mat-cell *matCellDef="let producto" style="flex: 0.5;">{{ producto.stock_actual }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="seleccionar">
          <mat-header-cell *matHeaderCellDef ></mat-header-cell>
          <mat-cell *matCellDef="let producto" >
            <button mat-raised-button
            class="ml-2 matcolor"
            (click)="selectProduct(producto)">
              Agregar
            </button>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
</div>


