<!-- En tu archivo de componente MatEditarUsuariosComponent -->
<form class="registration-form" fxLayout="column" [formGroup]="registerForm">
    <h2>Editar un Cliente</h2>
    <label class="mt-2">Ingrese DNI:</label>
    <mat-form-field class="full-width">
      <input matInput placeholder="DNI" formControlName="dni">
    </mat-form-field>

    <label class="mt-2">Ingrese nombre:</label>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre Cliente" formControlName="nombre">
    </mat-form-field>

    <label class="mt-2">Ingrese apellido:</label>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nombre Cliente" formControlName="apellido">
    </mat-form-field>

    <label class="mt-2">Telefono:</label>
    <mat-form-field class="full-width -mb-4">
      <input matInput placeholder="Ingrese el Telefono" formControlName="telefono">
    </mat-form-field>
    
    <label class="mt-2">Puntos:</label>
    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="puntos" readonly>
    </mat-form-field>
    <div style="font-style: italic; color: #888; margin-top: 5px;" class="-mt-3">Los Puntos se ganan con cada compra</div>





  <button mat-raised-button class="mt-2" color="primary" (click)="actualizar()">Actualizar</button>
  </form>
