<form class="registration-form" fxLayout="column" [formGroup]="registerForm">
    <h2>Editar una Categoria</h2>
      <label class="mt-2">Ingrese nombre:</label>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nombre de la Categoria" formControlName="descripcion">
      </mat-form-field>
     
      <label class="mt-2">Elije el Estado :</label>
    <mat-slide-toggle  [(ngModel)]="toggleChecked" (change)="onToggleChange()" formControlName="estadoCategoria" checked >
      <!--<p *ngIf="toggleChecked">Activo</p>
      <p *ngIf="!toggleChecked">Inactivo</p>-->
    </mat-slide-toggle>
      <button mat-raised-button class="mt-4" color="primary" (click)="actualizar()">Actualizar</button>
</form>
  
