.color {
  background: linear-gradient(to right, #270952, #470952);
  background-size: 200% 100%; /* Añade el tamaño deseado */
  animation: gradientAnimation 20s linear infinite; /* Asigna la animación */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 100%; 
  }
  50%{
    background-position: 100% 0%; 
  }
  100% {
    background-position: 0% 100%; 
  }
}