.full-width{
    width: 30%;
  }
  .search-container {
    display: flex;
    align-items: center;
  }

  .search-button {
    margin-left: 10px; /* Ajusta el espacio entre el campo de entrada y el botón */
  }