/*.container{
  background-color: khaki;
  padding: 5px;
  border: 1px solid black;
  float: right;

  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  height: 35%;
  width: 10%;
}

.box{
  //border: 3px solid black;
  font-size: 10px;
  text-align: center;
  margin: 5px;
}*/

/* crear-producto.component.scss */


//---------------container y columnas--------------------
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1%;
  
}

.form-container {
  display: flex;
}

.form-column {
  width: 100%;
  flex: 2;
  padding: 0 1% 0 0%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

//-----------columna cliente y producto---------------------

.container-column-client{
  max-width: 100%;
  margin: 0 auto;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-client{
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.__form-client{
  display: flex;
  align-items: center;
}


//-------------columna de resumen de factura------------

.container-column-factura{
  max-width: 100%;
  margin-left: auto;
  
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head-factura {
  height: 17.5vh;
  display: flex;
  flex-direction: column; /* Añade esta línea para apilar elementos verticalmente */
  color: #ffffff;
  text-align: center;
  background: linear-gradient(to top, #021750, #2C4D9E);
  animation: gradientAnimation 20s linear infinite;
}

.shape {
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  position:relative;
  top: 0px;
  background: linear-gradient(to top right, transparent 50%, transparent 50%, #FBFBFB 10%, #f4f6f9 10%) -10px -1px / 28px 13px repeat-x;
}


.text-head-factura {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: 80%;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.body-factura{
  height: 45vh;
  width: 80%;
  margin: auto;
  padding: 5% 0% 0 0%;
  font-size: 100%;
  font-weight: bold;
  color: #808080;
  border-bottom: 1.5px solid #ccc;
}

//-----------------------------Footer Factura-------------------------------

.footer-nav{
  width: 75%;
  margin: auto;
  padding: 1%;
}

//-------------footer informacion-----------
.footer-nav-form-container{
  display: flex;
}

.footer-nav-form-column {
  width: 100%;
  font-size: 80%;
  font-weight: bold;
  color: #808080;
  flex: 2;
  padding: 3% 1% 0 0%;
  margin-left: auto;
}

.form-field {
  margin-bottom: 10%;
}

//---------------footer botones-----------------
.footer-body{
  width: 80%;
  margin: auto;
  padding: 1%;
}
.footer-body button {
  width: 100%;
  margin-bottom: 8px; /* Ajusta el valor según tu preferencia */
}



@keyframes gradientAnimation {
  0% {
    background-position: 0% 100%; 
  }
  50% {
    background-position: 100% 0%; 
  }
  100% {
    background-position: 0% 100%; 
  }
}
