<form class="registration-form" fxLayout="column" [formGroup]="registerForm">
    <h2>Agregacion de stock de Productos </h2>
    <!-- <label class="mt-2">Ingrese Clave:</label>
    <mat-form-field class="full-width">
        <input matInput placeholder="Ingrese clave" formControlName="clave">
    </mat-form-field> -->
      <!-- <label class="mt-2">Elija el Producto:</label>
      <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="producto">
          <ng-container *ngFor="let list of productoList">
            <mat-option [value]="list.id">{{ list.descripcion }}</mat-option>
          </ng-container>
        </mat-select>       
      </mat-form-field> -->
      <label class="mt-2">Elija el Producto:</label>
    
      <!-- <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Buscar producto"
               aria-label="Producto"
               matInput
               formControlName="producto"
               [matAutocomplete]="auto"
               (optionSelected)=""
               > 
                  

        <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngFor="let product of filteredProducts | async" [value]="product" >
            {{ product.descripcion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Buscar producto"
               aria-label="Producto"
               matInput
               formControlName="producto"
               [matAutocomplete]="auto"
 
               >
      
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProductSelected($event)">
          <mat-option *ngFor="let product of filteredProducts | async" [value]="product">

            {{ product.descripcion }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      
      
      <!-- <label class="mt-2">Ingrese Fecha de Registro de Entrada:</label>
      <mat-form-field class="example-full-width">
        <mat-label>Entrada</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="fecha_registro">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field> -->
      

      <label class="mt-2">Ingrese la Fecha de Vencimiento:</label>

      <mat-form-field class="accent">
        <mat-label>Vencimiento</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fecha_venci">

        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2">
          <!--<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
        </mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>

      <label class="mt-2">Ingrese la cantidad que va entrar:</label>
      
        <mat-form-field appearance="fill">
          <mat-label>Ingrese Cantidad</mat-label>
          <input matInput formControlName="cantidad" placeholder="Ingrese Cantidad" type="number">
        </mat-form-field>

        
    
      
    
     

     

      <button mat-raised-button class="mt-2" color="primary" (click)="registrar()" [disabled]="registerForm.invalid">Crear</button>
  </form>
  
