<form class="registration-form" fxLayout="column" [formGroup]="registerForm">
    <h2>Stock de Productos </h2>
    <label class="mt-2">Clave:</label>
    <mat-form-field class="full-width">
        <input matInput placeholder="Ingrese clave" formControlName="clave" readonly>
      </mat-form-field>
      <div style="font-style: italic; color: #888;" class="-mt-4">Por seguridad, la clave no se puede editar :)</div>
        
      <label class="mt-2">Fecha de Vencimiento:</label>
      <mat-form-field class="example-full-width">
        <mat-label>Vencimiento</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fecha_venci" readonly>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <label class="mt-2"> la cantidad entro:</label>
      
        <mat-form-field appearance="fill">
          <mat-label>Ingrese Cantidad</mat-label>
          <input matInput formControlName="cantidad" placeholder="Costo del producto" type="number" readonly>
        </mat-form-field>
  </form>
